.message
  p
    small
      em= "Created " + time_ago_in_words(message.created_at) + "  ago "
  p
    = gravar_for(message.user, size: 50) + " "
    strong= message.user.name.capitalize.split(" ").first.concat(" ")
    span.content= message.content