
= render 'shared/page_title', title: "Sign up"
= bootstrap_devise_error_messages!

.row
  .col-md-12
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {  class: 'form-horizontal', role: 'form' }) do |f|
      .form-group
        .control-label.col-md-2
          = f.label :name
        .col-md-8
          = f.text_field :name, class: 'form-control', placeholder: "Enter your name"
      .form-group
        .control-label.col-md-2
          = f.label :email
        .col-md-8
          = f.email_field :email,  class: 'form-control', placeholder: "Choose your email"

      .form-group
        .control-label.col-md-2
          = f.label :password
        .col-md-8
          = f.password_field :password, class: 'form-control', placeholder: "Enter your password"

      .form-group
        .control-label.col-md-2
          = f.label :password_confirmation
        .col-md-8
          = f.password_field :password_confirmation, class: 'form-control', placeholder: "Confirm your password"

      .col-md-offset-2.col-md-10
        = f.submit 'Sign up', class: 'btn btn-primary'
        .clearfix
        = render 'devise/shared/links'
