.row.comment-fix
  .col-md-2
    section.chef-info.center
      = gravar_for(comment.user, size: 60)

  .col-md-8.well
    p= comment.description
    p
      span.quiet
        small= "Created: " + time_ago_in_words(comment.created_at) + " ago  by "  + comment.user.name
