= render 'shared/errors', item: @recipe



.row
  .col-md-12
    = form_for(@recipe,html: { class: 'form-horizontal', role: 'form', :multipart => true }) do |f|
      .form-group
        .control-label.col-md-2
          = f.label :name

        .col-md-8
          = f.text_field :name, class: 'form-control' , :placeholder => "Name of recipe",  :autofocus => true

      .form-group
        .control-label.col-md-2
          = f.label :description

        .col-md-8
          = f.text_area :description,rows: 10, class: 'form-control', :placeholder => "Enter steps to create recipe"

        .row
          .col-md-offset-2.col-md-8
            = f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cc|
              - cc.label(class: "checkbox-inline input-checkbox") {cc.check_box(class: "checkbox") + cc.text}

      .form-group
        .control-label.col-md-2
          = f.label :image, "Add Image"

        .col-md-8
          = f.file_field :image, accept: "image/jpeg,image/gif,image/png"

      .form-group
        .col-md-offset-2.col-md-10
          = f.submit class: "btn btn-primary btn-lg btn-xlarge"

  .col-md-offset-4.col-md-4
    | [
    = link_to "Cancel request and return to recipes listing", recipes_path, class: "color-match"
    | ]
