- obj.each do |receipe|
  .row

    .col-md-2
      section.center.user_info
        = gravar_for(receipe.user, size: 120)


    .col-md-8.well
      .col-md-2.pull-left
        = image_tag(receipe.image.url, size: "150x100", class: "img-circled spiffy-image img-responsive") if receipe.image?
      col-md-8
        .center
          h4= link_to receipe.name, recipe_path(receipe)
          p= truncate  receipe.description, length: 150
          - if receipe.ingredients.any?
            p
              | Ingredients:
              = render receipe.ingredients

          p
            span.quiet
              small
                = "Created at".concat(" ") + time_ago_in_words(receipe.created_at).concat(" by ") \
                 +receipe.user.name.capitalize  + " | "  + pluralize(receipe.comments.count, "Comment")


        .recipe-actions
          - if user_signed_in? && ( receipe.user == current_user || current_user.admin?)

            = link_to "Edit recipe", edit_recipe_path(receipe), class: "btn btn-xs btn-warning"
            = link_to "Delete recipe", recipe_path(receipe), method: :delete, data: {confirm: " Are you sure?"}, class: "btn btn-xs btn-danger"


      .row
        .pull-right.liking
          = link_to like_recipe_path(receipe, like: true), method: :post do
            i.glyphicon.glyphicon-thumbs-up
            = " "
            = receipe.thumbs_up_total
          =   " || "
          =  link_to like_recipe_path(receipe, like: false), method: :post do
            i.glyphicon.glyphicon-thumbs-down
            = " "
            = receipe.thumbs_down_total

