= render 'shared/page_title', title: "showing all recipes"
.center
  = will_paginate renderer: BootstrapPagination::Rails

= render 'recipes/recipe', obj: @recipes

.center
  = will_paginate renderer: BootstrapPagination::Rails