= render 'shared/page_title', title: @recipe.name
.col-md-offset-2.col-md-8.well
  .center
    = image_tag @recipe.image_url if @recipe.image?
  h4.center.description
    strong Description:
  hr

  = simple_format @recipe.description
  hr
  - if @recipe.ingredients.any?
    p
      | Ingredients:
      = render @recipe.ingredients

  .pull-right
    p.center
      em Created by:

    p.center= link_to gravar_for(@recipe.user), chef_path(@recipe.user)

    p.center
      small= @recipe.user.name.capitalize

      .pull-right= "created: " + time_ago_in_words(@recipe.created_at).concat(" ago")


  .recipe-actions
    -  if user_signed_in? && (@recipe.user == current_user || current_user.admin?)
      = link_to "Edit recipe", edit_recipe_path(@recipe), class: "btn btn-xs btn-warning"
      = link_to "Delete recipe", recipe_path(@recipe), method: :delete, data: {confirm: " Are you sure?"}, class: "btn btn-xs btn-danger"
    = link_to "Return to recipes listing", recipes_path, class: "btn btn-xs btn-primary"

  .row.center
    .row.col-md-7.col-md-offset-7
      = link_to like_recipe_path(@recipe, like: true), method: :post do
        i.glyphicon.glyphicon-thumbs-up
      = @recipe.thumbs_up_total
      = " || "
      = link_to like_recipe_path(@recipe, like: false), method: :post do
        i.glyphicon.glyphicon-thumbs-down
      = @recipe.thumbs_down_total
- if user_signed_in?
  .row
    .col-md-8.col-md-offset-2
      h3 Comments
      hr
      = form_for([@recipe, @comment],remote: true, html: {class: 'form-horizontal', role: 'form'}) do |f|
        .form-group
          .control-label.col-md-2
            = f.label :description, "Comment"

          .col-md-8
            = f.text_area :description, rows: 8, class: 'form-control', :placeholder => "Enter comment here"

        .form-group
          .col-md-offset-2.col-md-10
            = f.submit "Submit Comment",class: "btn btn-primary btn-lg btn-xlarge"

      hr

.row
  .col-md-8.col-md-offset-2
    - if @recipe.comments.any?
      h3 Prior Comments:
      #messages
        = render partial: 'comments/comments', object: @comments
    - else
      h3 No comments yet :(


