= render 'shared/page_title', title: "Chef Chat"
.row.chat-container
  .col-md-8.center-block
    .messages#messages
      = render @messages

      hr

    .message-container
      = form_for(@message,remote: true, :html =>  {class: 'form-horizontal', role: 'form'}) do |v|
        = v.text_area :content, class: "form-control",data: {behavior: "room_speaker"}, placeholder: "Send!"
        = v.submit "Send", class: "btn btn-primary btn-lg ", data: {send: "message"}

