= render'shared/page_title', title: "Chef #{@user.name}'s profile"
= render 'shared/errors', item: @user
.row
  .col-md-12
    = form_for(@user,url: chef_path, html: {class: 'form-horizontal', role: 'form'}) do |f|
      .form-group
        .control-label.col-md-2
          = f.label :name

        .col-md-8
          = f.text_field :name, class: 'form-control', placeholder: "Enter your name"
      .form-group
        .control-label.col-md-2
          = f.label :email
        .col-md-8
          = f.email_field :email, class: 'form-control', placeholder: "Choose your email"



      .col-md-offset-2.col-md-10
        = f.submit 'Edit profile', class: 'btn btn-primary'
        .clearfix
