= render 'shared/page_title', title: "Showing all chefs"
.center
  = will_paginate renderer: BootstrapPagination::Rails
.center
  - @users.each do |chef|
    ul.listing
      .row
        .well.col-md-offset-4.col-md-4
          li= link_to gravar_for(chef,size: 120), chef_path(chef)
          li.chef-title= link_to chef.name.capitalize, chef_path(chef)
          li
            small= pluralize(chef.recipes.count, "recipe") if chef.recipes
          - if user_signed_in? && current_user.admin?
            li
              =link_to "Delete this user", chef_path(chef), method: :delete, data: { confirm: "Are you sure? \
                  you  want to delete it?" }
.center
  = will_paginate renderer: BootstrapPagination::Rails