= render'shared/page_title', title: "Chef #{@user.name}'s profile"
.row
  .col-md-4.col-md-offset-4.center.marg-bot
    = gravar_for @user, size: 150

h4.center
  - if @user.recipes.any?
    = @user.name + "'s recipes"
  - else
      | No recipes yet :(

.center
  = will_paginate @chef_recipes, renderer: BootstrapPagination::Rails
= render 'recipes/recipe', obj: @chef_recipes
.center
  = will_paginate @chef_recipes, renderer: BootstrapPagination::Rails