- if item.errors.any?
  .row
    .col-md-offset-2.col-md-8
      .panel.panel-danger
        .panel-heading
          h2.panel-title= pluralize(item.errors.count, "error") + " prohibited this #{item.class} from being saved:"

          .panel-body
            ul
              - item.errors.full_messages.each do |msg|
                li= msg