= render 'shared/errors', item: @ingredient
row
  .col-md-12
    = form_for(@ingredient,html: { class: 'form-horizontal', role: 'form' }) do |f|
      .form-group
        .control-label.col-md-2
          = f.label :name

        .col-md-8
          = f.text_field :name, class: 'form-control' , :placeholder => "Enter ingredient",  :autofocus => true



      .form-group
        .col-md-offset-2.col-md-10
          = f.submit is_new_ingredient?(@ingredient),class: "btn btn-primary btn-lg btn-xlarge"

  .col-md-offset-4.col-md-4
    | [
    = link_to "Cancel request and return to recipes listing", recipes_path, class: "color-match"
    | ]