= render 'shared/page_title', title: "Available ingredients"
.center
  = will_paginate renderer: BootstrapPagination::Rails
.center
  - @ingredients.each do |ingr|
    ul.listing
      .row
        .well.col-md-offset-4.col-md-4
          li.chef-title= link_to ingr.name.capitalize, ingredient_path(ingr)
          li
            small= pluralize(ingr.recipes.count, "recipe") if ingr.recipes
          - if user_signed_in? && current_user.admin?
            li= link_to "Edit this ingredient", edit_ingredient_path(ingr)
.center
  = will_paginate renderer: BootstrapPagination::Rails