= render'shared/page_title', title: " #{@ingredient.name}"

- if @ingredient.recipes.any?
  h4 align="center" Recipe' containin #{@ingredient.name}
  div align="center"
  = will_paginate @ingredient_recipes, renderer: BootstrapPagination::Rails
  = render 'recipes/recipe', obj: @ingredient_recipes
  = will_paginate @ingredient_recipes, renderer: BootstrapPagination::Rails

- else
    h4 align="center" No Recipes yet :(

