div class='jumbotron center'
  h1
    | Welcome To My RECEPIES
  h2
    | The best recipes sharing app
  p= link_to 'View all recipes', recipes_path, class: 'btn btn-danger btn-lg btn-xlarge'

div class="row"
  div class="col-lg-4"
    h2 Heading
    p
      | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    p
      a[ class="btn btn-primary btn-xlarge" href="#" role="button"] View details

  div class="col-lg-4"
    h2 Heading
    p
      | Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    p
      a[ class="btn btn-primary btn-xlarge" href="#" role="button"] View details

  div class="col-lg-4"
    h2 Heading
    p
      | Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
    p
      a( class="btn btn-primary btn-xlarge" href="#" role="button") View details
