= render 'shared/page_title', title: "Log in"
= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal',role: 'form' }) do |f|

  .form-group
    .control-label.col-md-2
      = f.label :email
    .col-md-8
      = f.email_field :email, class: 'form-control', placeholder: "Choose your email"

  .form-group
    .control-label.col-md-2
      = f.label :password
    .col-md-8
      = f.password_field :password, class: 'form-control', placeholder: "Enter your password"

  .checkbox
    .col-md-8.col-md-offset-2
      = f.check_box :remember_me
      = t('.remember_me', default: 'Remember me')

  .col-md-2.col-md-offset-2
    = f.button 'Sign in',type: 'submit', class: 'btn btn-primary'
    .clearfix
    = render 'devise/shared/links'
