.full {
  width: 100%;
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #EDEFF1;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
  p {
    margin: 0;
  }

  img {
    max-width: 100%;
  }

  h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
  }

  ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
  }

  ul li a {
    padding: 0 0 5px 0;
    display: block;
  }

  a {
    color: #78828D
  }

}




.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}


.newsletter-box {
  overflow: hidden;
  input#appendedInputButton {
    background: #FFFFFF;
    display: inline-block;
    float: left;
    height: 30px;
    clear: both;
    width: 100%;
  }

  .btn {
    border: medium none;
    border-radius: 3px;
    display: inline-block;
    height: 40px;
    padding: 0;
    width: 100%;
    color: #fff;
  }
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;

  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;

  &:hover {
    transform: scale(1.15) rotate(360deg);
    border: 2px solid #2c3e50;
    background: #2c3e50;
  }

  a {
    color: #EDEFF1;
    i {
      font-size: 16px;
      margin: 0 0 0 5px;
      color: #EDEFF1 !important;
    }
  }

}




.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;

  p.pull-left {
    padding-top: 6px;
  }
}

.payments {
  font-size: 1.5em;
}


/*
**кастом***
 */


.description {
  margin-top: 0;
}

.well  {
  h4 {
    a {
      color: gold;
    }
  }
}

.user-info {
  margin-top: 10px;
}

.color-match {
  color: gold;

}

.recipe-actions {
  padding-top: 15px;

  a {
    color: #fff;
  }

}

.marg-bot {
  margin-bottom: 20px;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.chef-title {
  a {
    color:  gold;
    font-weight: bold;
    font-size: 1.25em;

  }
}

.badge {
  a {
    color: goldenrod;
  }
}



.spiffy-image {
  position: absolute;
float: right;

}