

.jumbotron {
  background-image: asset_url('unsplash.jpg');
  background-size: cover;
  background-size: 100% 100%;
  background-repeat: no-repeat ;
  height: 300px;

  h1, h2 {
    color: goldenrod;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: 700;
  }

}

.center {
  text-align: center;
}

#logo {
  float: left;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.btn-xlarge {
  background-color: #CCA48B;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}