nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed aria-expanded="false" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button"
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to 'My Recepies', root_path, class: 'navbar-brand', id: 'logo'
    /! Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      ul.nav.navbar-nav

        li
          = link_to "Chefs", chefs_path
        li
          = link_to "View all recipes", recipes_path

        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
            | Ingredients
            span.caret
          ul.dropdown-menu
            li
              =link_to "All Ingredients", ingredients_path

            -  Ingredient.all.each do |ingredient|
              li= link_to ingredient.name, ingredient


            - if user_signed_in? && current_user.admin?
              li
                a href="#"  Separated link
              li
                = link_to "Create a new ingredient", new_ingredient_path

        - if current_user
          li
            = link_to "Chef Chat", chat_path
          li.dropdown
            a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
              | Recipes
              span.caret
            ul.dropdown-menu
              li
                = link_to "Create a new recipe", new_recipe_path
              li
                a href="#"  Another action
              li
                a href="#"  Something else here
              li.divider role="separator"
              li
                a href="#"  Separated link
              li.divider role="separator"
              li
                a href="#"  One more separated link


      form.navbar-form.navbar-left
        .form-group
          input.form-control placeholder="Search" type="text" /
        button.btn.btn-default type="submit"  Submit
      ul.nav.navbar-nav.navbar-right
        - unless !current_user
          li.dropdown
            a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" href="#" role="button"
              = current_user.name.capitalize.concat("'s profile")
              span.caret
            ul.dropdown-menu
              li= link_to "View your profile", chef_path(current_user)

              li= link_to "Edit your profile", edit_chef_path(current_user)

              li
                a href="#"  Something else here
              li.divider role="separator"
              li= link_to "log out", destroy_user_session_path, method:  :delete

        -else
          li= link_to "Log in", new_user_session_path
          li= link_to "Registration", new_user_registration_path
