link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" /
footer
  #footer.footer
    .container
      .row
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          h3 Links
          ul
            li= link_to 'About', '#'

            li= link_to "Recipes", recipes_path

            li= link_to 'Chefs', chefs_path

            li= link_to 'Ingredients', ingredients_path

        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          h3 Numbres
          ul
            li
              a href="#"  One
            li
              a href="#"  Two
            li
              a href="#"  Three
            li
              a href="#"  Four
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          h3 Strings
          ul
            li
              a href="#"  String 1
            li
              a href="#"  String 2
            li
              a href="#" String 3
            li
              a href="#"  String 4
        .col-lg-2.col-md-2.col-sm-4.col-xs-6
          h3 Countries
          ul
            li
              a href="#"  USA
            li
              a href="#"  Sweden
            li
              a href="#"  Nederladns
            li
              a href="#"  Russia
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
          h3 Send email here
          ul
            li
              .input-append.newsletter-box.text-center
                input.full.text-center placeholder=("Email ") type="text" /
                button.btn.bg-gray type="button"
                  | Lorem ipsum
                  i.fa.fa-long-arrow-right
          ul.social
            li
              a href="#"
                i.fa.fa-facebook  
            li
              a href="#"
                i.fa.fa-twitter  
            li
              a href="#"
                i.fa.fa-google-plus  
            li
              a href="#"
                i.fa.fa-pinterest  
            li
              a href="#"
                i.fa.fa-youtube  

  .footer-bottom
    .container
      p.pull-left My spiffy footer.
      .pull-right
        ul.nav.nav-pills.payments
          li
            i.fa.fa-cc-visa
          li
            i.fa.fa-cc-mastercard
          li
            i.fa.fa-cc-amex
          li
            i.fa.fa-cc-paypal

