doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1"
    title PRORails5
    = viewport_meta_tag(:maximum_scale => "1.0")
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'


  body
    = render 'layouts/navigation'
    = bootstrap_flash
    div class="container"
      == yield

    == render 'layouts/not_footer'